*{
    padding: 0px;
    margin: 0px 0px;  
}
body{
   min-height: 100vh;
   background-color: rgba(3, 1, 24, 0.932);
   
}
body.dark-mode {
    background-color: #202020;
    color: white;
  }

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.sidebar{
  position: fixed;
  top: 0%;
  height: 100vh;
  width: 180px;
  z-index: 999;
  right: 0;
  background-color: rgba(0, 0, 0, 0.685);
  backdrop-filter: blur(5px);
  box-shadow: -5px 0 5px rgb(0, 0, 0);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
width: 100%;
}
.sidebar a{
color: white;
width: 100%
}
 
.hideOnMobile{
    display: none;
}
.menu-btn{
    display: flex;
    float: left;
     position: relative;
     fill: rgba(255, 255, 255, 0.712);
  }
.svg1{
    display: block;
}
button{
    cursor: pointer;
}
.resume1{
    background-color: red;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 5px 0px rgba(214, 10, 10, 0.288);
    font-weight: bolder;
    border-color: rgba(224, 9, 9, 0.274);
    position: relative;
     top: 15%;
     left:15%;

}

.resume2{
    display: none;
        background-color: red;
        padding: 10px 10px;
        font-weight: bolder;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 5px 0px rgba(214, 10, 10, 0.288);
        border-color: rgba(224, 9, 9, 0.274);
        position: relative;
}
.r2{
    font-weight: bolder;
    color: white;
}
.first-pg{
  text-align-last: center;
  position: relative;
  padding: 10px;
  line-height: normal;
}
.p-photo{
  width: 50px;
  border-radius: 50%;
}
.line1{
 color: rgba(161, 161, 161, 0.486);
 line-height: 2; 
}
.emoji{
  width: 10px;
}
.line2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(150, 150, 150);
}
.line3{
  text-align: justify ;
  padding: 10px;
  color: rgba(161, 161, 161, 0.486);
  text-align: center;
  font-size: 10px;
  line-height: normal;
}
.b1{
  color: rgb(87, 0, 128);
}
.line4{
  width: 100%;
}
.reach{
  background-color: rgb(255, 0, 0);
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 0px rgba(214, 10, 10, 0.288);
  font-weight: bolder;
  border-color: rgba(224, 9, 9, 0.274);
}
.out{
  font-weight: bolder;
  font-size: 8px;
  color: white;
}


@media (min-width: 425px) {
  body{
    font-size: xx-large;
  }
  .sidebar li{
    font-size: medium;
    }
    .sidebar{
      width: 180px;
    }
  .line1{
    font-size: small;
  }
}

@media (min-width: 640px){
  .p-photo{
    width: 15%;
  }
  .line1{
    font-size: medium;
  }
  .sidebar{
    width: 210px;
  }

}
@media (min-width: 768px) {
    
    body{
        color: white;
        font-size: 15px;
      }
      .sidebar{
        font-size: large;
      }
      nav a{
        color: rgba(255, 255, 255, 0.712);
        padding: 0 15px;
      }
       
     .menu-btn{
        display: none;
     }
     
     li{
        color: aquamarine;
     }
      .hideOnMobile{
        display: inline-block;
      }
      .sidebar{
        font-size: large;
        
      }
    .resume2{
        display:inline-flex;   
    }
    button{
        left: -20px;
    }
    .p-photo{
      width: 15%;
    }
    .first-pg{
      font-size: 35px;
    }
    .line3{
      font-size: medium;
    }
    .out{
      font-size: small;
    }
 
}